body, a, h1, h2, p, #consoleBtn {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    font-weight: bolder;
    color: #000000;
    /*text-shadow: 0px 0px 1px #808080*/
}
#title {
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
}

body::after {
  content: "";
  background: url(./images/bg3.png);
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#consoleBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #00C853;
    cursor:pointer;
    z-index: 1;
}

body {
    margin: 0 10%;
    height: 100%;
}

html {
    height: 100%;
    margin: 0;
}

#mainBody{ 
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.codeString {
    color: darkred;
}

.codeKeyword {
    color: blue;
}

.codeClass {
    color: Highlight;
}

.codeComment {
    color: green;
}
/*main { 
    position: ;
    height: 500px;
}

#about, #gameOfLife, #contact {
    position: absolute;
    top: 0; 
    left: 0;
}*/