 #gameOfLifeCanvas { 
    margin-left: auto;
    margin-right: auto;
    background-color: #222222; 
    border:2px solid #ff9900;
}

#gameOfLifeBoard {
    margin: 10px;
}

.gameOfLifeBtn { 
    border:2px solid #ff9900;
    border-radius: 5px;
    background-color: #222222;
    color: whitesmoke;
    padding: 10px;
    width: 100px;
}

#gameOfLifePopup {
    background-color: #222222;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4242;
}

#gameOfLifeCloseBtn {
    background-color: #222222;
    color: whitesmoke;
    float: right;
    border-width: 0;
}